@model ProiectDAW.Models.Project
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> _userManager

@{
    ViewBag.Title = @Model.Name;

    <head>
        <link rel="stylesheet" href="~/css/projects.css">
    </head>
}

@* info proiect (stanga)*@
<div id="project-view" class="card col-md-5 col-lg-2 mt-5">

    <div class="card-body">


        <h3 class="mt-4">Proiect: @Model.Name</h3>

        
        @foreach (var user in ViewBag.Users)
        {
            <div class=" justify-content-between flex-row mt-3">
                <i class="bi bi-globe"></i>@user.User.Email
            </div>                
        }


    </div>
    <div id="options">


        <li class="dropdown p-3">
            <button type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Opțiuni
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                @if (Model.ManagerId == _userManager.GetUserId(User) || User.IsInRole("Admin"))
                {
                    <li>
                        <a class="dropdown-item" href="/Projects/Edit/@Model.Id"><i class="bi bi-pencil-square"></i> Editează</a>
                    </li>
                    <li>
                        <form method="post" action="/Projects/Delete/@Model.Id">
                            <button class="dropdown-item" type="submit"><i class="bi bi-trash"></i> Șterge</button>
                        </form>
                    </li>
                }
                <li>
                    <a class="dropdown-item" href="/Projects/Users/@Model.Id"> <i class="bi bi-people"></i> Utilizatori</a>
                </li>


            </ul>
        </li>


    </div>

</div>


@* form add task *@
@if (Model.ManagerId == _userManager.GetUserId(User) || User.IsInRole("Admin"))
{
    <br/>
    <br />

    <div id="add-task-view" class="card col-md-3 col-lg-2">

        <form method="post" action="/Projects/Show/@Model.Id">

            <div class="card-body">
                @if (TempData["messageerr"] != null)
                {
                    <p class="alert-danger p-3 rounded-3 mb-5">@TempData["messageerr"]</p>
                }
                <input type="hidden" name="ProjectId" value="@Model.Id" />

                <input type="hidden" name="Status" value="Not started" />

                <lable>Titlu task</lable>
                <br />
                @Html.ValidationMessageFor((m => m.Name ), null, new { @class = "text-danger"})
                <br />
                <textarea class="form-control" name="Title"></textarea>
                <br />
                <label>Descriere task</label>
                <br />
                <br />
                <textarea class="form-control" name="Description"></textarea>
                <br />

                <label>Dată start</label>
                <input type="date" name="StartDate" />
                <br />
                <br />
                <label class="">Deadline</label>
                <input type="date" name="Deadline" />
                <br /><br />

                <button class="btn btn-success " type="submit">Adaugă task</button>

            </div>

        </form>

    </div>


}

<br \>
<br \>
<br \>


@* lista taskuri (mijloc) *@
@if (Model.Tasks is not null)
{

    <div class="container">
        <div class="row">
            @foreach (var task in Model.Tasks)
            {
                <div class="col-md-2 col-lg-3 taskuri-asoc"></div>

                <div class=" col-lg-7 taskuri border rounded m-2">

                    <div>

                        <p class="mt-3">Titlu: @task.Title</p>
                        <small>@task.Status</small><br />
                        @if (task.User is not null)
                        {
                            <div class="hide id_user_task">
                                @task.UserId
                            </div>
                            <small>@task.User.UserName</small>
                        }
                        else
                        {
                            <div class="hide id_user_task">
                            </div>
                        }
                    </div>
                    <br>

                    <div class="d-flex">
                        @if (Model.ManagerId == _userManager.GetUserId(User) || User.IsInRole("Admin"))
                        {
                            <div>

                                <a class="btn btn-outline-primary" href="/Tasks/Edit/@task.Id"><i class="bi bi-pencil-square"></i>Editează task</a>

                            </div>

                            <div>

                                <form method="post" action="/Tasks/Delete/@task.Id">

                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Șterge Task</button>

                                </form>

                            </div>
                        }
                        <div>
                            <a class="btn btn-success" href="/Tasks/Show/@task.Id">Afișează Task</a>
                        </div>
                        <br />
                    </div>

                    <br />

                </div>

            }

        </div>

    </div>
}
